# all build/artifact related folders
node_modules/
.turbo/
.next/
dist/
out/

# ignore globally all .turbo folders and it's content
**/.turbo/
**/.turbo/*.cookie
**/.turbo/**/*.cookie
**/.turbo/turbo-build.log
**/.turbo/**/turbo-build.log