# Általános build/artifact mappák
node_modules/
.turbo/
.next/
dist/
out/

# Globálisan ignoráljuk az összes .turbo mappát és azok tartalmát
**/.turbo/
**/.turbo/*.cookie
**/.turbo/**/*.cookie
**/.turbo/turbo-build.log
**/.turbo/**/turbo-build.log